
/*フォーム全体*/
.form-content {
  border-radius:15px;
  /*ホームに利用する際には透過をオフにする*/
  background-color:rgba(41, 194, 194, 0.9);
  padding-top:20px;
  margin:0 auto;
  margin-top:100px;
  text-align:center;
  min-width: 250px;
  max-width: 440px;
  width:40%;
}


.form-group{
  padding: 5px 10px;
  
}

/*ログインボタン*/
#btn-margin {
  margin-bottom: 13px;
  font-family:游ゴシック;
}

/*label*/
label{
  letter-spacing:1px;
  color:#555;
}

form .fa{
  height:20px;
  width:20px;
}
