/*bodyへbackground-colorによる色付け*/
body{
  background-color:#f0f5f6;
}

.setting-content {
  border-radius:15px;
  width:730px;
  margin: 0 auto;
  padding:15px;
}

/*設定項目のラッパー*/
.setting-wrapper {
  border-radius:15px;
  background-color:rgb(221, 244, 240);
  
  margin-top:100px;
  color: #444;
}


.settings ul{
  list-style: none;
  padding-top:10px;
  padding-bottom: 30px;
  margin:10px 25px 10px 0px;
}


/*.cogクラス*/
.cog{
  color:#368;
  letter-spacing:1px;
  font-size:40px;
  font-weight:bold;
  width:130px;
}

.cog:hover{
  transition:color 0.5s;
  cursor:default;
  color:#59c;
}

.cog i{
  margin-right:10px;
}

.settings h3 {
  letter-spacing:0.5px;
  font-size: 19px;
  font-weight:bolder;
  color:#666;
  padding-left:5px;
}

.settings h3:hover{
  transition:color 0.5s;
  color:#68b;
}



.setting-name {
  cursor:pointer;
}

/*各項目*/
.setting-list{
  font-family:游ゴシック;
  border-bottom:1px solid #ccc;
  position:relative;
  text-align: left;
}

.setting-list span {
  position:absolute;
  top:-3px;
  right:5px;
  color: #B3B3B3;
  font-size:20px;
  font-weight:bold;
}

/*項目の"+"，"-"*/
.change {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
}

/*名前変更フォーム*/
.name-change-form {
  border:1px inset #777;
  margin: 0 10px;
  width:300px;
  height:28px;
  border-radius:3px;
  padding-left:7px;
}

/*性別変更フォーム*/
.gender-change-form {
  margin: 0 10px;
  height:25px;
  width:50px;
}

.btn-default{
  font-size:18px;
  line-height:5px;
  border:1px solid #99d;
  border-radius:7px;
  height:30px;
  margin-bottom:3px;
}

.year-change-form {
  margin-left: 10px;
  height:25px;
  width:60px;
}

.month-change-form {
  height:25px;
  width:40px;
}

.day-change-form {
  height:25px;
  width:40px;
}

.birthday-figure {
  display: inline;
  margin-left:2px;
  margin-right:10px;
}