/*主にページ変移後のログイン、新規作成ページの背景のcss*/



body {
    /*padding-bottom: 100%;*/
    background-image:url(newspaper.jpg);
   /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}

.backover {
  background-color:rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.form-content {
  position: relative;
}